<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>BANCO DE SANGRE</title>
</head>
<body>
    <div class="head"> <!-- Clase -->
        <div class="logo"> <!-- division -->
            <img src="css/img/Logo.jpg" height="75px" width="75px" alt="">
        </div>

        <nav class="navbar"> <!-- navegacion -->
            <a href="#">Inicio</a>
        </nav>

        <nav class="navbar"> <!-- navegacion -->
            <a href="H">¿Por que donar?</a>
        </nav>

        <nav class="navbar"> <!-- navegacion -->
            <a href="H">Beneficios</a>
        </nav>

        <nav class="navbar"> <!-- navegacion -->
            <a href="H">Nosotros</a>
        </nav>

        <nav class="navbar"> <!-- navegacion -->
            <a href="H">Contacto</a>
        </nav>
    </div>
    <header class="content header">
        <h1 class="tittle">BANCO DE SANGRE</h1> <!-- h = titulo -->
        <h2 class="title">¡Dona Vida!</h2>
        <p>
            Bienvenidos a nuestra Comunidad de Donantes de 
            Sangre! creemos que cada gota de sangre cuenta. 
            Nuestra misión es salvar vidas al conectar a 
            donantes generosos con aquellos que necesitan 
            transfusiones. Si alguna vez te has preguntado 
            cómo puedes marcar la diferencia, ¡has llegado al 
            lugar correcto!
        </p>
        <div class="btn-home"> <!-- botones -->
            <a href="h" class="btn">CONOCENOS</a>
        </div>

    </header>

    <section class="content why"> <!-- Agrupa contenido -->
        <h2 class="tittle">¿Por qué donar sangre?</h2>
        <p>
            La sangre es un recurso vital que no se puede 
            fabricar artificialmente. Cada día, miles de 
            personas en todo el mundo requieren transfusiones 
            debido a cirugías, accidentes, enfermedades crónicas 
            y complicaciones del parto. Al donar sangre, puedes 
            ser un héroe anónimo que salva vidas.
        </p>
        
        <h2 class="tittle">¿Cómo puedes ayudar?</h2>
        <div class="box-container">
            <div class="box">
                <i class="fas fa-calendar-check"></i>
                <h3 class="title">Programa una cita</h3>
                <p>
                    Ven a nuestro centro de donación o busca 
                    una unidad móvil cerca de ti. Programa una 
                    cita para donar sangre y reserva tu lugar.
                </p>
            </div>
            <div class="box">
                <i class="fas fa-share-alt"></i>
                <h3 class="title">Comparte la palabra</h3>
                <p>
                    Cuéntale a tus amigos, familiares y colegas 
                    sobre la importancia de donar sangre. 
                    ¡Una simple conversación puede inspirar a otros 
                    a unirse a nuestra causa!
                </p>
            </div>
            <div class="box">
                <i class="fas fa-hand-paper"></i>
                <h3 class="title">Participa en campañas</h3>
                <p>
                    Mantente atento a nuestras campañas de donación. 
                    Desde maratones hasta eventos comunitarios, siempre 
                    hay oportunidades para donar.
                </p>
            </div>
        </div>
    </section>

    <section class="content benefits">

        <h2 class="tittle">Beneficios de donar sangre</h2>

        <div class="box-container">
            <div class="box">
                <i class="fas fa-hands-helping"></i>
                <h3 class="title">Salvas vidas</h3>
                <p>
                    Tu donación puede ayudar a pacientes con cáncer, 
                    víctimas de accidentes automovilísticos, personas 
                    con anemia y muchos otros.
                </p>
            </div>
            <div class="box">
                <i class="fas fa-heartbeat"></i>
                <h3 class="title">Mejoras en la salud</h3>
                <p>
                    Donar sangre regularmente puede reducir el riesgo 
                    de enfermedades cardíacas y mejorar la circulación.
                </p>
            </div>
            <div class="box">
                <i class="fas fa-comment"></i>
                <h3 class="title">Conexión con la comunidad</h3>
                <p>
                    Al unirte a nuestra comunidad de donantes, te 
                    conviertes en parte de algo más grande que tú mismo.
                </p>
            </div>
        </div>
    </section>

    <section class="content about">

        <h2 class="tittle">Nosotros</h2>
        <p>
            En Dona Vida, somos una comunidad apasionada de donantes 
            de sangre que se unen con un propósito común: salvar vidas. 
            Nuestra historia comenzó hace más de una década, cuando un 
            grupo de voluntarios decidió marcar la diferencia en la salud 
            y bienestar de las personas.
        </p>

        <div class="box-container">
            <div class="box">
                <i class="fas fa-tasks"></i>
                <h3 class="title">Nuestra Misión</h3>
                <p>
                    Nuestra misión es simple pero poderosa: conectar a los donantes 
                    con los receptores. Creemos que cada donación cuenta y puede marcar 
                    la diferencia entre la vida y la muerte. Trabajamos incansablemente 
                    para asegurarnos de que la sangre llegue a quienes más la necesitan, 
                    sin importar la hora ni el lugar.
                </p>
            </div>
            <div class="box">
                <i class="fas fa-users"></i>
                <h3 class="title">Nuestro Equipo</h3>
                <p>
                    Detrás de Dona Vida hay un equipo apasionado de médicos, enfermeras, 
                    voluntarios y defensores de la salud. Nos esforzamos por educar a la 
                    comunidad sobre la importancia de la donación de sangre y eliminar los 
                    mitos y temores asociados con ella. Juntos, trabajamos para crear un 
                    mundo donde nadie tenga que sufrir debido a la falta de sangre.
                </p>
            </div>
        </div>
    </section>

    <section class="content invitation">

        <article class="contain">
            <h2 class="tittle">Únete a Nosotros</h2>
            <p>
                ¿Quieres ser parte de esta noble causa? ¡Únete a Dona Vida hoy mismo! 
                Ya sea que quieras donar sangre, organizar una campaña de donación o 
                simplemente difundir la palabra, tu contribución es valiosa. Juntos, 
                podemos hacer una diferencia real en la vida de las personas.
            </p>

            <a href="invitation.html" class="btn">Únete ahora</a>

        </article>

    </section>

    <section class="content contact">
        <h2 class="title">Contacto</h2>
        <p>(+57) 111 1111111</p>

    </section>
</body>
</html>